<style lang="scss">
  @import '../scss/icons';
</style>

<template>
  <icon-button v-if="showUploadButton" name="save" class="ar-icon ar-icon__xs ar-icon--no-border" @click.native="upload"/>
</template>

<script>
  import IconButton from './icon-button'
  import UploaderPropsMixin from '@/mixins/uploader-props'

  export default {
    mixins: [UploaderPropsMixin],
    props: {
      record: { type: Object },
      showUploadButton : {type: Boolean, default:false}
    },
    components: {
      IconButton
    },
    methods: {
      upload () {
          if (!this.record.url) {
            return
          }
          this.uploadRecord(this.record)
        },
      uploadRecord(record){
        if(record.id !== this.record.id){
          return
        }

        this.$eventBus.$emit('start-upload')

        const data = new FormData()
        data.append('audio', record.blob, `${this.filename}.mp3`)
        data.append('duration', record.duration)

        const headers = Object.assign(this.headers, {})
        headers['Content-Type'] = `multipart/form-data; boundary=${data._boundary}`

        this.$http.post(this.uploadUrl, data, {headers: headers}).then(resp => {
          this.$eventBus.$emit('end-upload', {status: 'success', response: resp})
        }).catch(error => {
          this.$eventBus.$emit('end-upload', {status: 'fail', response: error})
        })
      }
    },
    created() {
      this.$eventBus.$on('upload-record', (record) => {this.uploadRecord(record)})
    }

  }
</script>
